* {
    box-sizing: border-box;
  }
  
body {
    font-family: "Georgia", Arial, sans-serif;
    background-color: #6a4d1fa4;
  }
  
header {
    display: flex;
    background-color: #1a165f;
    color: #8373db;
    padding: 30px;
    text-align: center;
    font-size: 40px;
    justify-content: space-between;
  }

h1 {
  margin-left:120px;
}

nav {
    justify-content: flex-end;
    font-size: 50%;
    text-decoration: none;
  }

nav > a {
    color: #8373db;
    text-decoration: none;
      
  }

nav > a:visited {
  color: #fff;
  }

.pictures {
  display:flex;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-top: 30px;
}

#about {
  width: 100%;
  text-align: center;
}

#about > p {
  height: 150px;
  width: 450px;
  margin: auto;
  text-align: center;
  align-items: center;
  font-style: oblique;
  
}

h2 {
    font-size: 125%;
  }  

.row {
  display:flex;
}

.column {
    justify-content: space-around;
    width: 33.33%;
    padding: 10px;
    height: 300px;
  }

.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
footer {
    background-color: #104a2d;
    padding: 10px;
    text-align: center;
  }
  

@media (max-width: 600px) {
    .column {
      width: 100%;
    }
  }