* {
    box-sizing: border-box;
  }
  
body {
    font-family: "Georgia", Arial, sans-serif;
  }
  
header {
    display: flex;
    background-color: #104a2d;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    justify-content: space-between;
  }

nav {
    justify-content: flex-end;
    font-size: 50%;
}

h2 {
    font-size: 125%;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
  }
  
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  

footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }
  

@media (max-width: 600px) {
    .column {
      width: 100%;
    }
  }